body.body{
background-color:black;
}
h1{
text-align: center;
color: whitesmoke;
padding: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form.work {
margin-left: 480px;
color: whitesmoke;
font-family: cursive;
}
form.work input{
width: 300px;
border-radius: 30px;
}
div.div1{
margin-bottom: 1rem;
}
div.div1 input{
    margin-left: 5px;
}
div.div2{
margin-bottom: 1rem;
}
div.div3{
    margin-bottom: 1rem;
}

input.address{
    width: 220px; 
}
div.div3 input{
width: 224px !important;
}
textarea.address{
    width: 284px !important;
    border-radius: 10px;
}
button{
    background-color: whitesmoke;
    width: 100px;
    height: 1cm;
    margin-left: 17.5rem;
    border-radius: 20px;
    margin-top: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}   